---
import type { LegacyTable } from "../data/types";

interface Props {
  table: LegacyTable;
}

const { table } = Astro.props;
---

<div class="table-wrap">
  <table>
    {table.caption && <caption>{table.caption}</caption>}
    <tbody>
      {table.rows.map((row) => (
        <tr>
          {row.c.map((cell, index) =>
            row.h ? (
              <th colspan={row.s?.[index] ?? 1}>{cell}</th>
            ) : (
              <td colspan={row.s?.[index] ?? 1}>{cell}</td>
            )
          )}
        </tr>
      ))}
    </tbody>
  </table>
</div>
